@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  color: white;
  background: black;
}

aside {
  display: flex;
  position: fixed;
  top: 1rem;
  right: 1rem;
}

table {
  table-layout: fixed;
  word-wrap: break-word;
}

a:hover,
a:focus {
  cursor: pointer;
}

.bg-black {
  background: black;
}

.app {
  width: 100vw !important;
  height: 100vh !important;
}

.modal-dialog {
  width: 98%;
  height: 92%;
  padding: 0;
}

.modal-content {
  overflow: auto;
  height: 99%;
}
