@import 'bootstrap/scss/bootstrap';

main {
  padding-top: 3.5rem;
}

code {
  display: none;
}

button {
  display: none !important;
  &:hover,
  &:focus {
    cursor: pointer;
  }
  &:first-child {
    display: block !important;
  }
}

table {
  margin: 0;
  @extend .table;
  @extend .table-hover;
  @extend .table-striped;
  @extend .table-bordered;
  @extend .table-hover;
  @extend .table-dark;
  @extend .text-white;
  @extend .table-sm;
  th,
  td {
    max-width: 33%;
    text-align: left;
    padding: 0.5rem 1rem !important;
  }
}

.card-body {
  padding: 0;
  > div {
    @extend .table-responsive;
  }
}

.bg-black {
  background: black !important;
}
