@import 'bootstrap/scss/bootstrap';

table {
  @extend .table;
  @extend .table-hover;
  @extend .table-striped;
  @extend .table-bordered;
  @extend .table-hover;
  @extend .table-dark;
  @extend .text-white;
  @extend .table-sm;
  margin: 0;
  width: 100%;
  th,
  td {
    text-align: left;
    padding: 0.5rem 1rem !important;
  }
}

button {
  display: none !important;
  &:hover,
  &:focus {
    cursor: pointer;
  }
  &:first-child {
    display: block !important;
  }
}

code {
  display: none;
}

.card-body {
  > div {
    @extend .table-responsive;
  }
}

.copied {
  background: black;
}

.app {
  min-height: 100vh;
}

.jumbotron {
  background: darken($gray-800, 15%) !important;
}
