@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@font-face {
  font-family: 'Optician-Sans';
  src: URL('./Optician-Sans.ttf') format('truetype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  touch-action: manipulation;
  transition: all 1s ease;
}

html {
  font-size: 16px;
}

body {
  touch-action: manipulation;
  font-size: 1rem;
  font-family: 'Optician-Sans', sans-serif;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  margin: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  line-height: 0.75;
  margin: 0 0.75rem;
}

.one {
  font-size: 12rem;
}

.two {
  font-size: 7rem;
}

.three {
  font-size: 6rem;
}

.four {
  font-size: 5rem;
}

.five {
  font-size: 4rem;
}

.six {
  font-size: 3rem;
}

.seven {
  font-size: 2rem;
}

.eight-1 {
  font-size: 1.75rem;
}

.eight-2 {
  font-size: 1.5rem;
}

.eight-3 {
  font-size: 1.25rem;
}

.eight-4 {
  font-size: 1rem;
}

.mode {
  color: #fff;
  background: #222;
}

.buttons {
  position: fixed;
  z-index: 2;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
}

button {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.language-form {
  display: none;
  position: relative;
}

.language .language-form::before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .75);
  z-index: 1;
}

.language .language-form {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.language .language-list {
  position: relative;
  z-index: 2;
  margin: 0 0 1rem;
}

.language .language-button {
  position: relative;
  z-index: 2;
  border-radius: .25rem;
  font-size: 1rem;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  background: white;
  color: black;
  padding: .5rem;
  cursor: pointer;
}

.menu #numbers,
.menu #english,
.menu #language,
.menu #reset,
.menu #mode {
  display: none !important;
}