@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  color: white;
  background: black;
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

a {
  color: red;
  text-decoration: none;
}

body {
  margin: 1rem auto;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 2rem);
  text-align: center;
}

div:not(#root) {
  margin-top: 1rem;
}

div > a {
  display: block;
  margin: 0.15rem 0.5rem 0 0;
}

label {
  color: silver;
  display: block;
  font-style: italic;
  margin: 0 0 0.25rem;
}

input {
  max-width: 20rem;
}

h1 {
  margin: 0 0 1rem;
}

table {
  margin: 0 auto;
}

td {
  padding: 0.5rem;
}

@media (min-width: 40rem) {
  body {
    max-width: 40rem;
  }
  label {
    display: inline;
    margin: 0 0.5rem 0 0;
  }
  div:not(#root) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
