@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

* {
  box-sizing: border-box;
}

* {
  transition: all 0.4s ease;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: sans-serif;
  background: black;
}

#root {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

#counter {
  color: white;
  font-size: 3rem;
  margin: 0 0 1rem;
}
